node_modules/
npm-debug.log*
*.log
serverState/
unitpreferences/
plugin-config-data/course-provider.json
plugin-config-data/freeboard-sk.json
plugin-config-data/kip.json
plugin-config-data/kip/
plugin-config-data/resources-provider.json
plugin-config-data/resources-provider/
plugin-config-data/espdisp-manager/
plugin-config-data/udp-nmea-sender.json
plugin-config-data/set-system-time.json
